.primeira_div{
    background-color: rgb(200, 130, 255);
    height: 250px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.div_filha1{
    background-color: #ff71f8;
    height: 100%;
    width: 250px;
    border: 20px solid red;

}
.div_filha2{
    background-color: rgb(40, 255, 180);
    height: 88%;
    width: 30%;
}